@charset "EUC-KR";
#wrap{
   width: 1000px;
   margin: 0 auto;
   background-color: #333;
}

header{
   position: relative;/*기준점역할*/
   height: 150px;
   background-color: #069;
}






header>.tit{
   position: absolute;
   right: 50px;
   top: 45px;
}

header>.tit>a{
   color: white;
}

header>nav{
   position: absolute;
   left:500px;
   top: 50px;
   color: white;
   font-size: 20px;
}

body {
  margin-top: 30px;
}

nav ul {
  width: 100%;
  
  list-style-type: none;
  /* 마진 패딩 지정하지 않으면 브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
  margin: 0;
  padding: 0;
}

/* li 는 블록요소인데 inline-block 으로 인라인속성 부여해서 나란히 배치 */

nav ul li {
  display: inline-block;
}

.home {
  background-color: darkorange;
  width: 100px;
  text-align: center;
  font-weight: bold;
  float: right;
}

.home a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px 16px;
}

.dropdown {
  position: relative;
}

 
.dropdown-menu {
  /*background-color: darkorange; */
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  skyblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

		




.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* dropdown-menu 에는 hover 적용이 안됨 */

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown-content a:hover {
  background-color: #d0fc5c;
}

.dropdown-menu:hover:not(.home) {
  background-color: darkorange;
  color: white;
}
section{
   padding: 30px 10px 20px;
   background-color: #fff;
   border: 3px solid black;
}

section>h2{
   margin-bottom: 25px;
   font-size: 25px;
   
}

section>p{
   font-size: 14px;
  
   text-align: justify;
}

section>p>.frame{
   display: block;
   overflow: hidden;
   float: right;
   width: 1000px;
   height: 300px;
   }

section>p>.frame>img{
   display: block;
   width: 100%;
}

footer{
   display: flex;
   justify-content: center;
   align-items : center;
   height: 80px;   
}

footer>address{color: white;}
